page-import {
  ion-segment {
    width: 60% !important;
    margin-left: -2rem;
    text-transform: none;
  }

  .segment-ios .segment-button {
    text-transform: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 3.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: transparent !important;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #222 !important;
    background: none !important;
  }

  .segment-ios .segment-button.segment-activated {
    color: #222 !important;
    opacity: 1;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    border-bottom: 0px solid #fff;
    border-width: 0px;
    font-weight: 600;
    border-color: transparent !important;
  }

  .key_border {
    border-bottom: 2px solid #3b7bf6;
    width: 2rem;
    margin: 0 auto;
    text-indent: -1.7rem;
  }

  .store_border {
    border-bottom: 2px solid #3b7bf6;
    width: 2.3rem;
    margin: 0 auto;
    margin-left: 4rem;
  }

  .word_border {
    border-bottom: 2px solid #3b7bf6;
    width: 2rem;
    margin: 0 auto;
    margin-left: 6.5rem;
  }

  .grid {
    background: #ffffff;
    border-radius: 0.5rem;
    height: 7rem;
    margin-top: 1rem;

    .col {
      position: relative;

      span {
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        width: 2rem;
      }
    }
  }

  .grid:nth-child(4) {
    margin-bottom: 4rem;
  }

  p {
    color: #afafaf;
    font-size: 1.3rem;
  }

  .cont {
    width: 100%;
    background: #ffffff;
    margin-top: 2rem;
    height: 14rem;
    border-radius: 5px;
    width: 100%;
    background: #ffffff;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: #dfe0e3 0px 0px 10px;
    .input-wrap {
      position: relative;
      padding-left: 1rem;
      border-bottom: 1px solid #f0f1f5;
      ion-input {
        line-height: 2.8rem;
      }
    }
    .input-wrap.noborder {
      border: 0 !important;
    }
    span {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1.5rem;
      img {
        width: 2rem;
      }
    }
  }

  .submit {
    display: block;
    width: 100%;
    height: 4rem;
    margin: 3rem auto;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background: linear-gradient(to right, #5a91fb, #3b7bf6);
    color: #ffffff;
  }

  .text-input-ios {
    margin: 8px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
  }

  textarea.text-input {
    display: block;
    margin-top: 0.5rem !important;
  }

  textarea {
    border: none;
    overflow: auto;
    height: auto;
    font: inherit;
    width: 100%;
    color: inherit;
    height: 6rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }

  .grid_word {
    height: 10rem;
  }

  .texts {
    height: 9rem;
  }
}
