page-carry {
  .bar-button-default-ios,
  .bar-button-clear-ios-default,
  .bar-button-ios-default {
    color: #222 !important;
    background-color: transparent;
  }
  .toolbar-title-ios {
    padding: 14px !important;
    color: #222 !important;
    font-size: 1.6rem;
    margin-left: -5rem;
  }
  .scroll-content {
    background: #f0f1f5;
  }
  .lists {
    .items {
      position: relative;
      img {
        width: 3rem;
        float: left;
      }
      span {
        font-size: 1.5rem;
        color: #222;
      }
      span:nth-child(2) {
        font-size: 1.5rem;
        color: #222;
        float: right;
        margin-right: 0rem;
        line-height: 2rem;
      }
      .arrow {
        width: 1.5rem;
        float: right;
        position: absolute;
        right: 1rem;
        margin-top: 0.3rem;
      }
      .pwd {
        width: 100%;
        height: 3rem;
        line-height: 2rem;
        border-bottom: 1px solid #f0f1f5;
        img {
          margin-top: 0rem;
        }
      }
      .pwd:nth-child(2) {
        line-height: 4rem;
        height: 4rem;
        border-bottom: 1px solid #fff;
        img {
          margin-top: 1rem;
        }
      }
    }
    .grid1 {
      width: 100%;
      background: #ffffff;
      border-radius: 0.5rem;
      // box-shadow: #DFE0E3 0px 0px 10px;
      margin-top: 1rem;
      position: relative;
      p:nth-child(1) {
        width: 100%;
        color: #222;
        text-indent: 1rem;
        font-size: 1.5rem;
        height: 3rem;
        line-height: 1.5rem;
        border-bottom: 1px solid #f0f1f5;
        span {
          float: right;
          //   margin-right: 0.5rem;
          font-size: 1.4rem;
          color: #62ce49;
        }
      }
      .col {
        padding: 0px;
        position: relative;
        width: 100%;
        margin: 0;
        min-height: 1px;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
      }
      .img1 {
        width: 1.5rem;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
      }
    }
  }
  .list-ios {
    /* margin: -1px 0 16px; */
    width: 100%;
    margin: 0 auto;
  }
  .item-ios {
    margin-top: 1rem;
    // box-shadow: #DFE0E3 0px 0px 10px;
    border-radius: 5px;
  }
  .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #ffffff;
  }
  .lists .items .qrcode img {
    width: 100%;
  }
  .sendto {
    margin-top: 4rem;
    button {
      width: 100%;
      height: 4rem !important;
      background: linear-gradient(to right, #5a91fb, #3b7bf6);
      color: #ffffff;
      color: #fff;
      border-radius: 0.4rem;
      outline-style: none;
      font-size: 1.5rem;
    }
  }
  ion-input,
  ion-textarea {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    margin-top: -1.5rem;
  }
  .text-input-ios {
    margin: 0px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    margin-top: 3rem;
  }
  textarea {
    border: none;
    overflow: auto;
    height: auto;
    font: inherit;
    width: 100%;
    color: inherit;
    height: 3rem;
    // margin-top: 0.4rem;
    text-indent: 0.5rem;
  }
  .logo {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    text-align: center;
    position: fixed;
    top: 2rem;
    left: 0;
    z-index: 1111;
    background: #181919;
    .logo-bj {
      width: 10rem;
      margin-top: 5rem;
    }
    .pwd {
      width: 100%;
      height: 17rem;
      border-radius: 5px;
      background: #fff;
      margin-top: 2rem;
      position: relative;
      .input-pwd {
        position: absolute;
        top: 9rem;
        height: 5rem;
        left: 0;
        background: none;
        opacity: 0;
        z-index: 10;
      }
      h1 {
        width: 90%;
        margin-left: 1.5rem;
        color: 000;
        font-weight: normal;
        border-bottom: 1px solid #f0f0f0;
        text-align: center;
        font-size: 1.7rem;
        height: 6rem;
        line-height: 6rem;
      }
      .y1 {
        width: 1.5rem;
        height: 1.5rem;
        background: #181919;
        border-radius: 50%;
        position: absolute;
        top: 4rem;
        left: -0.8rem;
      }
      .y2 {
        width: 1.5rem;
        height: 1.5rem;
        background: #181919;
        border-radius: 50%;
        position: absolute;
        top: 4rem;
        right: -0.8rem;
      }
    }
    .pwd1 {
      width: 90%;
      margin-left: 1.5rem;
      margin-top: 2rem;
      float: left;
      ion-input {
        width: 14%;
        float: left;
        height: 5rem;
        margin-left: 0.6rem;
        background: #f0f0f0;
        border-radius: 3px;
        font-size: 3rem;
        text-align: center;
      }
    }
    .btn {
      width: 100%;
      height: 4rem;
      font-size: 1.6rem;
      border-radius: 5px;
      color: #fff;
      background: linear-gradient(to right, #5a91fb, #3b7bf6);
      margin-top: 4rem;
    }
    .text-input-ios {
      margin: 9px 17px;
      padding: 0;
      width: calc(100% - 8px - 8px);
    }
  }
}
